<nav class="navbar">
    <div class="container px-0">
        <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Logo"></a>
        <span class="navbar-text text-right">
        <i class="bi bi-person"></i>&nbsp;<%= email %>
        </span>
    </div>
</nav>

<div class="wrapper d-flex align-items-stretch">
    <div id="sidebar">
        <div class="custom-menu">
        <button type="button" id="sidebarCollapse">
            <i class="bi bi-list"></i>
            <i class="bi bi-x-lg"></i>
        </button>
        </div>
        <div class="slidebar-link">
        <ul class="list-unstyled">
            <li><a class="active-bg" href="/">Dashboard</a></li>
            <li><a href="/setting">Settings</a></li>
            <li><a href="/billing">Billing</a></li>
        </ul>
    </div>
</div>
