<%- include('includes/head.ejs') %>
  </head>
  <body>
    
    <main class="custop-dash-bg">

      <!-- Navbar -->
      <%- include('includes/nav.ejs') %>

      <div id="content" class="log-forn">
        <div class="reset">
          <div class="login-form">
            <h6 class="text-center mb-4">Password Changes Successfully</h6>
            <form action="/signin" class="form-feilds">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
              <button>Login</button>
            </form>
          </div>
        </div>
      </div>

    </main>

    <!-- Js Files -->
    <%- include('includes/scripts.ejs') %>
  </body>
</html>