<%- include('includes/head.ejs') %>
  </head>
  <body>
    
    <main class="custop-dash-bg">

      <!-- Navbar -->
      <%- include('includes/nav.ejs') %>

      <div id="content" class="log-forn">
        <div class="reset">
          <h1 class="d-block text-center">Thank You </h1>
          <button class="thanks-btn">Home</button>
        </div>
      </div>

    </main>

    <!-- Js Files -->
    <%- include('includes/scripts.ejs') %>
  </body>
</html>